*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
}
body{
    display: grid;
    place-items: center;
    background: #faf8ef;
    color: #776e65;
}

.heading{
  
    width: 40rem;
}
h1{
    font-size:7rem;
    font-weight: bold;
    margin: 0;
    display: block;
    float: left;
    margin-top: 5rem;
    

}
.s-container {
    float: right;
    display: flex;
}
.score-container, .best{
    position: relative;
    display: block;
    background: #bbada0;
    padding: 15px 25px;
    font-size: 30px;
    height: 62px;
    line-height: 52px;
    font-weight: bold;
    border-radius: 3px;
    color: white;
    margin-top: 50px;
    text-align: center;
    margin-right: 1rem;
}
.score-container:after, .best:after {
    position: absolute;
    width: 100%;
    top: 10px;
    left: 0;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 13px;
    text-align: center;
    color: #776e65;
}

.score-container:after {
    content: "Score";
}

.best:after {
    content: "Best";
}



.matrix{
    width: 40rem;
    height: 40rem;
    background: #bbada0;
    display: flex;
    flex-wrap: wrap;
    margin-top: 4rem;
    border-radius: 0.6rem;
  
}
.matrix div{
    background: rgba(238, 228, 218, 0.35);
    width: 8rem;
    height: 8rem;
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
    display: grid;
    place-items: center;
    border-radius: 0.5rem;
    margin: 1rem;
  
}

.hide{
    display: none;
}
.gameover{
    width: 40rem;
    height: 40rem;
    cursor: pointer;
   

}
.gameover h1{
    text-align: center;
    font-size: 50px;
    margin-left: 10.2rem;

}
.gameover .play{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5em;
    width: 150px;
    display: block;
    margin: 188px auto;
    border-radius: 5px;
    border: 1px solid #fff;
    text-align: center;
    padding: 10px;
    background: #bbada0;
    color: #000;
    cursor: pointer;
    transition: 100ms width ease-in;
}